:root {
  --outline-bg: #3399ff;
  --outline-quota: #33662A;
  --outline-excerpt: #00FF00;
  --outline-exceeded: #FF0000;
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: relative;
}

.excerpt-outline {
	border:1px solid #000000; 
	background-color: var(--outline-bg);
	margin: 2em; 
	display: block;
	height: 15;
	/* width: 700; */
}